/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 360px;
  height: 100%;
  background: #fbfbfb;
  border-right: 2px solid #ededed;
  box-sizing: border-box;
  padding: 25px;
}

.sidebar .button {
  padding: 5px;
  width: auto;
  height: 26px;
  line-height: 14px;
}

.site-title {
  font-size: 24px;
  margin-bottom: 25px;
}

.site-title a {
  color: inherit;
  text-decoration: none;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu ul > li a {
  display: block;
  color: inherit;
  padding: 5px;
}

.menu ul > li a:hover {
  background: #eee;
}

/* Site Content */
.site-content {
  position: absolute;
  width: calc(100% - 360px);
  top: 0;
  left: 360px;
  padding: 50px;
  box-sizing: border-box
}

.title-bar {
  padding: 0 0 10px 0;
  margin: 0 0 15px 0;
  border-bottom: 1px solid #eee;
}

.title-bar .page-title {
  font-size: 26px;
  margin: 0;
}

.title-bar .button {
  margin: 0;
}

.todo input.todo-title {
  width: 100%;
  font-size: 18px;
  height: 50px;
  margin-bottom: 15px;
}

.todo ol.items {
  list-style: none;
  margin: 0 0 75px 0;
  padding: 0;
  border-top: 1px solid #eee;
}

.todo ol.items > li {
  padding: 15px;
  border-bottom: 1px solid #eee;
  margin: 0;
}

.todo ol.items > li .item .status {
  font-size: 24px;
  margin-right: 15px;
}

.todo ol.items > li .item .status.done {
  color: #4CAF50;
}

.todo ol.items > li .control {
  font-size: 24px;
}

.todo-control {
  position: fixed;
  bottom: 0;
  left: 360px;
  width: calc(100% - 360px);
  background: #fff;
  box-sizing: border-box;
  padding: 15px;
  border-top: 1px solid #eee;
}

.todo-control .container {
  max-width: 100%;
}

.todo-control input[type="text"],
.todo-control button[type="button"] {
  width: 100%;
  margin: 0;
}